# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [32]:
chipo= pd.read_table(address)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [33]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [34]:
chipo = pd.read_csv(address, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# Name of the max valued product

In [35]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [37]:
chipo['item_price'] = chipo['item_price'].str[1:].astype(float)

In [38]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [39]:
chipo[chipo['item_price'] == chipo['item_price'].max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [40]:

chipo[chipo['item_name'] == 'Chicken Bowl']

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

In [41]:
# Sacar precio unitario
chipo['unitary_price'] = chipo['item_price'] / chipo['quantity']
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,unitary_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [42]:
chipo2 = chipo[chipo['unitary_price'] == chipo['unitary_price'].max()]
chipo2[['item_name', 'unitary_price']].drop_duplicates()

                item_name  unitary_price
281      Steak Salad Bowl          11.89
1132  Carnitas Salad Bowl          11.89
1229  Barbacoa Salad Bowl          11.89

### Step 4. How many products cost more than $10.00?

In [21]:
products = chipo[chipo['item_price'] > 10]
products['item_name'].nunique()

31

In [22]:
products = chipo[chipo['unitary_price'] > 10]
products['item_name'].nunique()

25

In [26]:
chipo[chipo['unitary_price'] > 10.00].drop_duplicates(['item_name', 'unitary_price'])

,order_id,quantity,item_name,choice_description,item_price,unitary_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
79,35,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.25,11.25
90,40,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.75,11.75
93,41,1,Carnitas Burrito,"[Roasted Chili Corn Salsa, [Sour Cream, Guacam...",11.75,11.75
97,43,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.75,11.75
130,57,1,Barbacoa Burrito,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",11.75,11.75
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",22.50,11.25
147,66,1,Steak Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Rice, ...",11.48,11.48
163,74,1,Carnitas Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",11.48,11.48
167,75,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.25,11.25
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75,11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
187,84,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Fajita Vegg...",11.48,11.48
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98,10.98
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,11.89
322,140,1,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",11.08,11.08
365,158,1,Chicken Crispy Tacos,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",11.25,11.25
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94,10.98
427,186,1,Chicken Soft Tacos,"[[Tomatillo-Red Chili Salsa (Hot), Roasted Chi...",10.98,10.98
429,186,1,Barbacoa Crispy Tacos,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",11.48,11.48
435,189,1,Veggie Burrito,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",10.98,10.98
471,202,1,Barbacoa Bowl,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",11.48,11.48
476,204,1,Chicken Burrito,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",10.58,10.58
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
822,339,1,Carnitas Bowl,"[Fresh Tomato (Mild), [Guacamole, Sour Cream, ...",11.08,11.08
825,341,1,Steak Bowl,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Pin...",11.08,11.08
988,406,1,Barbacoa Soft Tacos,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.75,11.75
1008,413,1,Carnitas Crispy Tacos,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",11.75,11.75
1027,423,1,Chicken Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Fajita Veggies, C...",10.98,10.98
1063,438,1,Carnitas Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",11.48,11.48
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89,11.89
1353,552,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.75,11.75
1648,666,1,Barbacoa Burrito,"[Fresh Tomato (Mild), [Guacamole, Rice, Black ...",11.08,11.08
1721,694,1,Steak Soft Tacos,"[[Fresh Tomato Salsa (Mild), Tomatillo-Red Chi...",11.48,11.48
1863,755,1,Veggie Bowl,"[Tomatillo-Green Chili Salsa (Medium), [Black ...",10.98,10.98
1963,793,1,Carnitas Soft Tacos,"[Fresh Tomato Salsa, [Sour Cream, Guacamole]]",11.75,11.75
2231,899,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Guacamole]",11.75,11.75
2884,1146,1,Carnitas Burrito,"[Fresh Tomato (Mild), [Lettuce, Black Beans, G...",11.08,11.08
2919,1160,1,Chicken Bowl,"[Fresh Tomato (Mild), [Guacamole, Rice]]",10.58,10.58
3184,1273,1,Barbacoa Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",11.48,11.48
3276,1313,1,Barbacoa Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",11.48,11.48
4510,1793,1,Barbacoa Bowl,[Guacamole],11.49,11.49

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [29]:
chipo[['item_name', 'item_price']].sort_values(by='item_price', ascending=False).drop_duplicates()

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
1254               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
409                   Chicken Bowl       32.94
...                            ...         ...
3028                 Side of Chips        1.69
3737                 Bottled Water        1.50
3802             Canned Soft Drink        1.25
4008                   Canned Soda        1.09
2754                 Bottled Water        1.09

[209 rows x 2 columns]

### Step 6. Sort by the name of the item

In [30]:
chipo.sort_values(by="item_name")

,order_id,quantity,item_name,choice_description,item_price,unitary_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [48]:
chipo2 = chipo[chipo['item_price'] == chipo['item_price'].max()]
chipo2[['item_name', 'quantity', 'unitary_price']]

                         item_name  quantity  unitary_price
3598  Chips and Fresh Tomato Salsa        15           2.95

In [51]:
chipo[chipo['item_price'] == chipo['item_price'].max()]['item_name', 'quantity', 'item_price']

                         item_name  quantity  item_price
3598  Chips and Fresh Tomato Salsa        15       44.25

V2

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [56]:
mask = chipo['item_name'] == "Veggie Salad Bowl"
chipo[mask]

,order_id,quantity,item_name,choice_description,item_price,unitary_price
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25,11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25,11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75,8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25,11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75,8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

### Step 9. How many times did someone order more than one Canned Soda?

In [59]:
mask = (chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)
chipo[mask]

,order_id,quantity,item_name,choice_description,item_price,unitary_price
18,9,2,Canned Soda,[Sprite],2.18,1.09
51,23,2,Canned Soda,[Mountain Dew],2.18,1.09
162,73,2,Canned Soda,[Diet Coke],2.18,1.09
171,76,2,Canned Soda,[Diet Dr. Pepper],2.18,1.09
350,150,2,Canned Soda,[Diet Coke],2.18,1.09
352,151,2,Canned Soda,[Coca Cola],2.18,1.09
698,287,2,Canned Soda,[Coca Cola],2.18,1.09
700,288,2,Canned Soda,[Coca Cola],2.18,1.09
909,376,2,Canned Soda,[Mountain Dew],2.18,1.09
1091,450,2,Canned Soda,[Dr. Pepper],2.18,1.09
1092,450,2,Canned Soda,[Coca Cola],2.18,1.09
1944,787,2,Canned Soda,[Dr. Pepper],2.18,1.09
2135,859,2,Canned Soda,[Diet Coke],2.18,1.09
2235,901,4,Canned Soda,[Sprite],4.36,1.09
2905,1156,2,Canned Soda,[Coca Cola],2.18,1.09
2906,1156,2,Canned Soda,[Sprite],2.18,1.09
3152,1258,2,Canned Soda,[Dr. Pepper],2.18,1.09
3364,1349,2,Canned Soda,[Coca Cola],2.18,1.09
3592,1440,2,Canned Soda,[Diet Coke],2.18,1.09
3866,1550,2,Canned Soda,[Mountain Dew],2.18,1.09

In [60]:
len(chipo[mask])

20